@media (max-width: 1024px){
    // main sect
    .main-cont{
        .main-img-cont{
            .main-img{
            z-index: 165 !important;
            }
        }
    }
    .main-cont::after{
        background: url(/images/bg-curvy-mobile.svg) no-repeat center;
        background-size: cover;
        bottom: 19.5rem !important;
        height: 58vh !important;
        width: 100%;
    }
    
    // section-1
    .sect-1-cont{
        padding-top: -14rem;
    }
}
@media (min-width: 1025px){
    // main sect
    .main-cont{
        .main-img-cont{
            .main-img{
            z-index: 165 !important;
            }
        }
    }
    .main-cont::after{
        background: url(/images/bg-curvy-desktop.svg) no-repeat center;
        background-size: cover;
        bottom: 19.5rem !important;
        height: 65vh !important;
    }
    
    // section-1
    .sect-1-cont{
        padding-top: -25rem !important;
    }
}

@media (max-width: 686px){
    // main section
    .main-cont{
        width: 100%;

        .main-img-cont{
            width: 100%;

            .main-img{
                width: 100%;
                z-index: 165 !important;
            }
        }
        .main-text{
            max-width: 100% !important;

            .main-head{
                width: 30rem;
            }
            .main-lead{
                width: 25rem;
            }
        }
    }
}
@media (max-width: 540px){
    // main section
    .main-cont{

        .main-img-cont{
            width: 100%;

            .main-img{
                z-index: 165 !important;
            }
        }
        .main-text{
            max-width: 100% !important;
            margin: auto;
            padding: 0 1rem 5rem 1rem;

            .main-head{
                width: 100%;
            }
            .main-lead{
                width: 100%;
            }
        }
    }
    .main-cont::after{
        background: url(/images/bg-curvy-mobile.svg) no-repeat center;
        background-size: cover;
        bottom: 16.5rem !important;
        height: 30vh !important;
        width: 100%;
    }
    
    // section-1
    .sect-1-cont{
        margin-top: -7.5rem !important;
        grid-template-columns: auto !important;
    }
}

@media (max-width: 1150px){
    .sect-2-lead{
        width: 25rem !important;
        line-height: 1.5rem;
    }
    .hr{
        inline-size: 41% !important;
        margin-left: .1rem;
    }
}
@media (max-width: 986px){
    .sect-2-lead{
        width: 20rem !important;
    }
    .hr{
        inline-size: 51% !important;
        margin-left: .1rem;
    }
    // footer
    footer{
        .sect-4-cont{
            width: 45rem;
        }
        .sect-4-lead{
            width: 37rem !important;
        }
        .sect-4-form{
            width: 43rem !important;
        }
    }
}
@media (max-width: 914px){
    .sect-2-cont{
        flex-direction: column !important;
        padding: 4rem .7rem;

        .sect-2-head{
            padding: 0 1rem;
        }
        .sect-2-lead{
            width: 40rem !important;
            padding: 0 1rem;
            line-height: 1.5rem;
        }
        .sect-2-link-conts {
            padding: 0 1rem;
            white-space: pre;
            width: 10.3em !important;
            
            .sect-2-link-cont{
                border-bottom: 2px solid var(--Cyan);
                inline-size: 40%;
            }
        }
        .hr{
            inline-size: 25% !important;
            margin-left: .1rem;
        }
    }
}
@media (max-width: 853px){
    .sect-3-text{
        .sect-3-head{
            width: 30rem !important;
        }
    }
}
@media (max-width: 864px){
    .sect-1-container{
        // top: -9rem;
    }
    .sect-1-bg{
        .desktop-bg{
            display: none;
        }
        .mobile-bg{
            display: block;
            width: 100%;
            background-size: cover !important;
            height: 22.7%;
            position: absolute;
            // z-index: 2;
            top: -18rem;
            left: 0;
        }
    }

    .sect-1-cont{
        margin-top: -3.5rem;
        grid-template-columns: auto !important;
    }
}
@media (max-width: 724px){
    .sect-2-cont{
        flex-direction: column !important;

        .sect-2-lead{
            width: 35rem !important;
            line-height: 1.5rem;
        }
    }
}
@media (max-width: 673px){
    .sect-2-cont{
        flex-direction: column !important;

        .sect-2-lead{
            width: 38rem !important;
            line-height: 1.5rem;
        }
    }
}
@media (max-width: 606px){
    .sect-3-cont{
        padding: 2rem 1.5rem -1rem 1.5rem !important;

        .sect-3-text{
            .sect-3-head{
                width: 100% !important;
            }
        }
    }
}
@media (max-width: 596px){
    .sect-1-bg{
        .mobile-bg{
            height: 24%;
            top: -16.5rem;
            left: 0;
        }
    }
    .sect-1-cont{
        padding: 3rem 1.5rem;

        .sect-1-lead {
            width: 100% !important;
        }
    }
    .sect-2-cont{
        flex-direction: column !important;

        .sect-2-head{
            width: 100% !important;
            line-height: 1.5rem;
        }
        .sect-2-lead{
            width: 100% !important;
            line-height: 1.5rem;
        }
        .sect-2-link-cont{
            border-bottom: 2px solid var(--Cyan);
            inline-size: 36.4%;
        }
    }

}
@media (max-width: 540px){
    .sect-1-bg{
        .mobile-bg{
            height: 25%;
            top: -20.5rem;
            left: 0;
        }
    }

}
@media (max-width: 495px){
    .sect-1-bg{
        .mobile-bg{
            height: 20%;
            top: -19.1rem;
            left: 0;
        }
    }

}
@media (max-width: 362px){
    .sect-1-bg{
        .mobile-bg{
            height: 15%;
            top: -16.8rem;
            left: 0;
        }
    }

}

// footer
@media (max-width: 1247px){
    .foot-cont{
        gap: 5rem;

        .foot-contact{
            margin-left: -2rem;
        }
    }
}
@media (max-width: 1160px){
    .foot-cont{
        gap: 3rem;
    }
}
@media (max-width: 1052px){
    .foot-cont{
        gap: 2rem;
    }
}
@media (max-width: 957px){
    .foot-cont{
        gap: 3rem;

        .foot-text{
            .foot-lead{
                width: 16rem !important;
            }
        }
    }
}
@media (max-width: 901px){
    .foot-cont{
        gap: 3rem;

        .foot-text{
            .foot-lead{
                width: 13rem !important;
            }
        }
    }
}
@media (max-width: 865px){
    .foot-cont{
        gap: 1rem;
        padding: 15rem 2rem 6rem 2rem;
        justify-content: space-around !important;
        width: 100%;
        place-content: start;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        margin-top: -3.5rem;
        justify-content: flex-start !important;

        .foot-text{
            .foot-lead{
                width: 22rem !important;
            }
        }
        .foot-contact{
            margin-left: 0;
        }
        .foot-links{
            margin: 4rem 0;
        }
        .foot-icons-cont{
            align-items: center;
            margin: 3rem auto 0 auto;
        }
    }
}
@media (max-width: 736px){
    footer{
        .sect-4-cont{
            width: 38rem;
        }
        .sect-4-lead{
            width: 30rem !important;
        }
        .sect-4-form{
            width: 33rem !important;
        }
    }
}
@media (max-width: 649px){
    footer{
        .sect-4-cont{
            width: 34rem;
        }
        .sect-4-lead{
            width: 25rem !important;
        }
        .sect-4-form{
            width: 31rem !important;
        }
    }
}
@media (max-width: 740px){
    footer{
        .sect-4-cont{
            padding: 2rem .8rem;
            width: 100%;
        }
        .sect-4-lead{
            width: 100% !important;
        }
        .sect-4-form{
            flex-direction: column;
            width: 100% !important;
            padding: 0 .5rem !important;
        }
    }
    .foot-container{
        padding: 0 2rem;
    }
}
@media (max-width: 405px){
    .foot-cont{
        
        .foot-text{
            .foot-lead{
                width: 100% !important;
            }
        }
    }
}
@media (max-width: 325px){
    .foot-cont{
        .foot-text{
            margin-bottom: 2rem;
        }
    }
}
